<ion-content [fullscreen]="true" class="news-bg">
  
  <div class="welcome-header">
      <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        
        <div class="welcome-text">
          <h2><strong>Bacheca Avvisi</strong></h2>
        </div>
        
        <ion-icon name="menu-outline" 
                style="color: white; font-size: 2.5rem; cursor: pointer; opacity: 0.9;" 
                (click)="apriMenu()">
        </ion-icon>

      </div>
  </div>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header-title">
    <h2>Ultime Notizie</h2>
    <p>Rimani aggiornato sulle comunicazioni di Ateneo</p>
  </div>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <ion-card class="empty-card" *ngIf="!isLoading && newsList.length === 0">
    <ion-card-content>
      <ion-icon name="notifications-off-outline" class="empty-icon"></ion-icon>
      <p>Nessun nuovo avviso al momento.</p>
    </ion-card-content>
  </ion-card>

  <div class="news-container" *ngIf="!isLoading && newsList.length > 0">
    <ion-card class="news-card" *ngFor="let news of newsList">
      
      <div class="news-header">
        <ion-badge color="primary" class="date-badge">
          <ion-icon name="calendar-outline"></ion-icon> {{ news.data_pubblicazione }}
        </ion-badge>
      </div>

      <ion-card-content>
        <h3 class="news-title">{{ news.titolo }}</h3>
        <p class="news-body">{{ news.contenuto }}</p>
        
        <div class="news-footer" *ngIf="news.admin_nome">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <span>Pubblicato da: <strong>{{ news.admin_nome }} {{ news.admin_cognome }}</strong>
            <span *ngIf="news.nome_materia" class="materia-text">
              &bull; {{ news.nome_materia }}
            </span>
            
          </span>
        </div>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>