/* Questo serve a garantire che la pagina occupi spazio */
:host {
  display: block;
  height: 100%;
}

.main-container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto; /* Centratura */
  padding: 20px 0;
}

/* Stile base per gli elementi del menu */
ion-item.selected {
  --background: #f0f0f0;
  font-weight: bold;
}